body {
	margin: 20px auto;
}

#month_header{
	display: box;
	display: -webkit-box;
	display: -moz-box;

	border:1px solid green;
}

i.fa {
	display: inline-block;
	width: 30px;
	font-size: 3rem;
	margin-top: 13px;
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;

	border: 1px solid red;
}

i.fa-arrow-right {
	/*margin-left:250px;*/
}

i.fa-arrow-left {
	/*margin-right: 250px;*/

	border: 1px solid red;
}

h1.month_name {
	text-align: center;
	margin: 0 auto 20px auto;
	font-size: 5rem;
	width: 600px;
	-webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;

	border: 1px solid red;
}

.table {
	margin-bottom: 0;
}

th {
	text-align: center;
	font-size: 1.6rem;
	background-color: #BFBFBF;
}

td {
	width: 150px;
}

section.date {
	font-size: 2.2rem;
	line-height: 1.5rem;
	color: #7D7D7D;

	/*border: 1px solid blue;*/
}
section.time {
	font-size: 1.3rem;
	margin: 5px 0 3px 12px;
	font-weight: bold;

	/*border: 1px solid gray;*/
}
section.event_name {
	font-size: 1.3rem;
	line-height: 1.3rem;
	margin: 8px 0 0px 20px;

	/*border: 1px solid purple;*/
}
section.first {
	margin: 0px 0 0px 20px;

	/*border: 1px solid purple;*/
}

section.last_row {
	margin-bottom: 50px;
}

footer {
	text-align: center;
	background-color: #B3B3B3;
	padding: 1% 0;
	margin-bottom: 20px;
}
p#copyright{
	font-size: 1.5rem;
	font-weight: bold;
}